#---------------------------------------------------------
# Specific templates configuration file
# 4 values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------
# Since v 2.0 the project's variables can be used in file and folder name
#---------------------------------------------------------

Entity MongoDB ; ${BEANNAME}.java ; ${SRC}/${ENTITY_PKG} ; bean_mongo.vm
Repository MongoDB ; ${BEANNAME}Repository.java ; ${SRC}/${ROOT_PKG}/repository ; repo_mongo.vm
Test Repository MongoDB ; ${BEANNAME}RepositoryTest.java ; ${TEST_SRC}/${ROOT_PKG}/repository ; repo_mongo_test.vm
Main Application class ; Application.java ; ${SRC}/${ROOT_PKG} ; application_java.vm
Test Main Application class ; ApplicationTest.java ; ${TEST_SRC}/${ROOT_PKG} ; application_test_java.vm
Test Configuration class ; ApplicationConfigTest.java ; ${TEST_SRC}/${ROOT_PKG} ; application_config_test_java.vm
Config application.yml ; application.yml ; ${RES} ; application_yml.vm
Maven pom.xml ; pom.xml ;  ; pom_xml.vm
